$light: #ccc4aa;
$dark: #050526;

$word: #ccc4aa;
$word-bg: #0f335c;

$dark-theme: #041038;
$standard-theme: #103a65;
$light-theme1: #103a64;
$light-theme2: #2d5588;
$light-theme3: #2d5487;
$highlight-theme: #1da9c5;

$bedecked-main: #967a7f;
$bedecked-side: #9c3f52;